.student {

    .student-button {
        margin-top: 20px;
    }

    .student-view-button {
        margin-left: 10px;
    }

    .student-profile {
        border: 1px solid lightgrey;
        padding: 10px;
        line-height: 25px;
        border-radius: 4px;
        margin-top: 20px;
    }
}


.student-selection {
    margin-top: 20px;
    margin-bottom: 10px;
}