.template {
    // display: flex;
    // justify-content: flex-start;
    margin-top: 10px;

    form {
        width: 100%;
        margin-top: 5px;
        padding-bottom: 20px;
    }
}

#includeSubject {
    margin-bottom: 10px;
    margin-top: 10px;
}

.template-wrapperClassName {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    height: 300px;
    overflow: scroll;
}

#template-cancel {
    margin-left: 20px;
}

.template-templateTemplate {
    margin: 20px 0px;
}

.template-preview {
    border: 1px solid red;
}

.template-editorClassName {
    height: 320px;
    padding: 10px;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.template-toolbarClassName {
    // border: 1px solid red;
}

.template button {
    margin-top: 20px;
}

.template-snackbar {
    // height: 200px;
}

.template-card {
    width: 100%;
    max-width: 1200px;
    min-width: 760px;
    margin-top: 10px;
    cursor: pointer;
}

#template-card__content {
    padding: 10px 16px;
    // padding-bottom: 10px;
}

.template-card__buttons {
    opacity: 0;
}

.template-card:hover .template-card__buttons {
    opacity: 1;
}

.search-box {
    margin-bottom: 25px;
}

.display-templates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 0px 10px;
    margin-top: 10px;

    button {
        margin-top: 20px;
    }
}