html,
body {
    width: 320px;
    height: 300px;
    max-height: 581px;
}

p {
    font-size: 12px;
}

a:hover {
    cursor: pointer;
}

#root {
    height: 350px;
}

.notication {
    text-align: center;
    padding: 1px;
    border-radius: 4px;
    background: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
}

.notication p {
    line-height: 25px;
}

button:hover {
    cursor: pointer;
}

.footer p {
    display: block;
    position: absolute;
    bottom: 0;
}
