.container {
    width: 240px;
    margin: 0 auto;
    height: inherit;
    max-width: 420px;
    border: 1px solid #d9ddd9;
    border-radius: 4px;
    padding: 10px;
}

.btn {
    padding: 10px;
    border-radius: 4px;
    width: 190px;
    margin: 10px;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background: grey;
    color: #fff;
}

select {
    margin-bottom: 20px;
}