.home {
    height: 100vh;
}


.home-content {
    display: flex;
    border: 1px solid lightgrey;
    border-bottom: none;
    justify-content: flex-start;
    padding-right: 20px;

    &_main {
        margin-left: 10px;
    }
}