.tutor_info {
    /* border: 1px solid #d9ddd9; */
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.tutor_info form button {
    width: 80px;
    padding: 8px;
    font-size: 12px;
    border-radius: 4px;
    outline: none;
}

.tutor_info form div:first-child {
    margin-bottom: 30px;
}

.tutor_info .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px;
    border-radius: 4px;
}

.tutor_info .error p {
    line-height: 20px;
}

.tutor_info .go-back {
    /* width: 80px;
    margin-top: 10px;
    margin-left: 10px; */
}

.tutor_info li {
    margin-top: 10px;
}