@import '../../../common/inheritance.scss';

.deleteStudent {
    @extend %main-content-width;
}


.deleteStudent .students {
    overflow: scroll;
    max-height: 290px;
    text-align: center;
}
.deleteStudent li {
    border-bottom: 1px solid lightgrey;
}