@import '../../common/inheritance.scss';

.home {
    position: relative;

    &-name {
        text-align: center;
        margin-top: 30px;
    }
}

.home .search {
    margin-top: 40px;
    @extend %content-center;
    flex-direction: column;
}

.home .displayStudents {
    overflow: scroll;
    position: relative;
    margin-top: 10px;
    margin: 5px 27px;
    min-height: 50px;
    max-height: 131px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.home .displayStudents .student-list {
    border-bottom: 1px solid black;
    line-height: 2rem;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.home .displayStudents p:last-child {
    border-bottom: none;
}

