@import '../../../common/inheritance.scss';

.home {
    position: relative;

    &-name {   
        text-align: center;
        margin-top: 15px;
    }
}

.home .search {
    @extend %content-center;
    flex-direction: column;
}

.home .displayStudents {
    overflow: scroll;
    position: relative;
    margin-top: 10px;
    margin: 5px 27px;
    min-height: 50px;
    max-height: 131px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.home .displayStudents .student-list {
    border-bottom: 1px solid black;
    line-height: 2rem;
    padding: 3px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.displayStudents > p {
    display: flex;
    justify-content: center;
    padding: 9px;
}


.home .displayStudents p:last-child {
    border-bottom: none;
}


.home .useful-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.home .useful-links a {
    margin: 0px 15px;
    color: #000;
}