.delete-students {
    max-width: 250px;
    width: 100%;
    display: flex;
    height: 340px;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    flex-direction: column;
    overflow: scroll;
    /* border: 1px solid #d9ddd9; */
}

.delete-students .title {
    text-align: center;
    margin-top: 50px;
}

.delete-students .go-back {
    position: fixed;
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}

.delete-students .users {
    margin: 0 auto;
    border: 1px solid #d9ddd9;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    max-width: 100%;
    width: 200px;
}

.delete-students .users p {
    line-height: 10px;
}

.delete-students .users button {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 4px;
    padding: 5px;
    width: 70px;
}

.delete-students .no-more-students {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}