.email {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    form {
        width: 100%;
        margin-top: 5px;
    }
}

.email-wrapperClassName {
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.email-gmail__label {
    margin: 20px 0px;
}


.email-emailTemplate {
    margin: 20px 0px;
}

.email-editorClassName {
    height: 250px;
    padding: 10px;
    font-family: sans-serif;
    overflow: scroll;
}

.email-toolbarClassName {
}

.email button {
    margin-top: 20px;
}

.email-snackbar {
}

.integrations {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.integrations > div {
    width: 30%;
    margin: 10px;
    height: 164px;
}

.email-messages {
    overflow: scroll;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 0px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    cursor: pointer;
}